/target
/.cargo/config.toml
/book/book
/book/mdbook-roo-highlight/target
/spec
/koji.toml

# LaTeX build artifacts
spec/*.aux
spec/*.log
spec/*.out
spec/*.toc
spec/*.fls
spec/*.fdb_latexmk
spec/*.synctex.gz
spec/*.pdf
